@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.wrapper {
	max-width: 1200px;
	margin: 1rem auto;
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
}

.bg-cover {
	background: url("../assets/background.jpeg") no-repeat center center;
	background-size: cover;
	height: 170px;
}

.testbr {
	border: solid red 1px;
}
